# APP
NEXT_PUBLIC_APP_URL=http://localhost:3000

# DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres?schema=public"

# AUTH
AUTH_SECRET="your_secret_here"
NEXTAUTH_URL=http://localhost:3000

# ADMIN (Added for secure admin creation)
ADMIN_EMAIL="admin@astral.ai"
ADMIN_PASSWORD="change_this_immediately"

# AI & EXTERNAL SERVICES
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
EMAIL_SERVER=
EMAIL_FROM=
